<h5>Edit Story</h5>
<div class="row">

    <form action="/content/{{content._id}}?_method=PUT" method="post" class="col s12">
    <input type="hidden" name="_method" value="PUT">
 <div class="input-field">
                <input type="text" id="title" name="title" value={{content.title}}>
                <label for="title">Title</label></div>
            
       <div class="input-field">
               <select id="status" name="status">
                   
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                   
                </select>
                <label for="status">Status</label>
           </div>
    <br>
       <div >
      <p>
        <label>
          <input name="allowComments" type="checkbox" class="filled-in" {{#if content.allowComments}} checked="checked" {{/if}} />
          <span>Allow Comments</span>
        </label>
      </p>
    </div>
            <div class="input-field">
                <h6>Write Your Content:</h6>
                <textarea name="description">{{content.description}}</textarea>
            </div>
        
     <div>
            <input type="submit" value="SAVE" class="btn orange darken-4">
            <a href="/newsfeed" class="btn red darken-4">Cancel</a>
        </div>
    </form>
</div>