<br><br>
<div class="center">
<h2>Welcome to WriterBook 1.0.0</h2>

    <h5 >Create public and private stories from your life</h5>
    <br>
<div class="section">
    <a href="/auth/google" class="btn orange darken-4">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>
</div>
