<br><br>
<h1>Think<i class="medium material-icons">keyboard_arrow_left</i>Write<i class="medium material-icons">keyboard_arrow_right</i>Read </h1>

    <h5>Create public and private stories from your life</h5>

<br>
<div class="section">
    <a href="/addContent" class="btn orange darken-4"> Write Content</a>
    <a href="/read/PublicContent" class="btn teal lighten-1"> Read Content</a>
</div>
